<%- include('../partials/header') %>
    <a href='/restaurants'>Back to All Restaurants</a>
    <h1><%= restaurant.name %></h1>
    <h2><%= restaurant.neighborhood %></h2>
    <h3>Tacos:</h3>
    <% restaurant.tacos.forEach(function(t) { %>
         <% console.log(t) %>
          <p>Name: <%= t.name %></p>
          <p>Description: <%= t.description %></p>
          <p>******************</p>
          <a href='/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/new'>Add Review</a>
          <% if (t.reviews.length) { %>
            <% t.reviews.forEach(function(r) { %>
                <%if (r.author) { %>
                    <p><%= r.author.name %> on <%= r.createdAt.toLocaleDateString() %></p>
                    <% if (r.author._id.equals(user && user._id)) { %>
                        <form action="/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/<%= r._id %>?_method=DELETE" method="POST"><button type="submit" >X</button></form>
                        <a href="/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/<%= r._id %>/edit">Edit</a>
                    <% } %>
                <% } %>
                <p>Review: <%= r.comment %></p>
                
                <p></p>
                
               
                    
                <p>-----------------------------------</p>
            <% }) %>
         <% } %>
        <% }); %>
    <a href='/restaurants/<%= restaurant._id %>/tacos/new'>Add Taco</a>
</body>
</html>