<%- include('../partials/header') %>
    <div class='restaurant-header'>
        <a href='/' id='back-button'>
            <svg class="bi bi-arrow-left-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"/>
            </svg>
            Back to Restaurants
        </a>
        <div class='restaurant-header-info container'>
                <h1><%= restaurant.name %></h1>
                <h4><%= restaurant.neighborhood %></h4>
                <form action='/restaurants/<%= restaurant._id %>/tacos/new' action='GET'>
                <button type="submit" class='add-taco-btn'>Add Taco</button></form>
        </div>  
    </div>
    <div class='container'>
    <% restaurant.tacos.forEach(function(t) { %>
        <% console.log(t) %>
        <div class='taco-wrapper col-sm-6 '>
            <div class='taco-header'>
                <img src='/images/tacoplaceholder.jpg' class='taco-img'>
                <div class='taco-info'>
                    <h3><%= t.name %></h3>
                    <h4><%= t.description %></h4>
                </div>
            </div>
                <% if (t.reviews.length) { %>
                    <h4 class='reviews-label'>Reviews:</h4>
                    <a class='add-review' href='/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/new'>Add Review</a>
                    <% t.reviews.forEach(function(r) { %>
                        <div class='review-box'>
                        <%if (r.author) { %>
                            <h5><b><%= r.author.name %></b> on <%= r.createdAt.toLocaleDateString()%>:</h5>
                            <h4><%= r.comment %></h4>
                            <br>
                            <% if (r.author._id.equals(user && user._id)) { %>
                                <form action="/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/<%= r._id %>?_method=DELETE" method="POST" class='inline-button'><button type="submit" class='svg-btn'><img src='/images/trash.svg'></button></form>
                                <form action="/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/<%= r._id %>/edit" method="GET"  class='inline-button'><button type="submit" class='svg-btn'><img src='/images/pencil.svg'></button></form>
                            <% } %>
                        <% } %>
                        </div>
                    <% }) %>
                <% } else { %>
                <h4 class='reviews-label'>No Reviews yet<h4>
                <a class='add-review' href='/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/new'>Add Review</a>
                <% } %>

        </div>    
    <% }); %>
    <div class='taco-wrapper col-sm-6'></div>
    </div>


</body>
</html>