<%- include('../partials/header') %>
    <a href='/restaurants'>Back to All Restaurants</a>
    <h1><%= restaurant.name %></h1>
    <h2><%= restaurant.neighborhood %></h2>
    <a href='/restaurants/<%= restaurant._id %>/tacos/new' class='btn btn-info'>Add Taco</a>
    <div class='container'>
    <% restaurant.tacos.forEach(function(t) { %>
        <% console.log(t) %>
        <div class='taco-wrapper col-sm-6'>
            <div class='taco-header'>
                <img src='/images/tacoplaceholder.jpg' class='taco-img'>
                <div class='taco-info'>
                    <h3>Name: <%= t.name %></h3>
                    <h4>Description: <%= t.description %></h4>
                </div>
            </div>
                <% if (t.reviews.length) { %>
                    <h4>Reviews:</h4>
                    <a href='/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/new'>Add Review</a>
                    <% t.reviews.forEach(function(r) { %>
                        <div class='review-box'>
                        <%if (r.author) { %>
                            <h5><b><%= r.author.name %></b> on <%= r.createdAt.toLocaleDateString()%>:</h5>
                            <h4>" <%= r.comment %> "</h4>
                            <br>
                            <% if (r.author._id.equals(user && user._id)) { %>
                                <form action="/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/<%= r._id %>?_method=DELETE" method="POST" class='inline-button'><button type="submit" class='svg-btn'><img src='/images/trash.svg'></button></form>
                                <form action="/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/<%= r._id %>/edit" method="GET"  class='inline-button'><button type="submit" class='svg-btn'><img src='/images/pencil.svg'></button></form>
                            <% } %>
                        <% } %>
                        </div>
                    <% }) %>
                <% } else { %>
                <h4>No Reviews yet<h4>
                <a href='/restaurants/<%= restaurant._id %>/tacos/<%= t._id %>/reviews/new'>Add Review</a>
                <% } %>

        </div>    
    <% }); %>
    </div>
</body>
</html>